body{
    background-color: black;
    overflow: hidden;
    align-items: center;
}
.button-group{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 36px;
    margin-right: 20px;
}
/* index.html */
#game-title{
    color: green;
    font-size: 24px;
}
.menu{
    padding-top: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#easy-button{
    cursor: pointer;
    background-color:#28a745;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    border: none;
    outline: none;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 15px 32px;
    font-size: 16px;
    transition-duration: 0.3s;
}

#easy-button:hover{
    background-color: white;
    color: #28a745;
    /* border: #28a745 solid 3px; */
}
#medium-button{
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-weight: 400;
    outline: none;
    margin-top: 15px;
    box-sizing: border-box;
    border: none;
    padding: 15px 22px;
    color: #212529;
    background-color: #ffc107;
    font-size: 16px;
    transition-duration: 0.3s;
}

#medium-button:hover{
    background-color: white;
    color: #ffc107;
    /* border: #28a745 solid 3px; */
}

#hard-button{
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    font-weight: 400;
    outline: none;
    margin-top: 15px;
    box-sizing: border-box;
    border: none;
    padding: 15px 32px;
    color: #fff;
    background-color: #dc3545;
    font-size: 16px;
    transition-duration: 0.3s;
}

#hard-button:hover{
    background-color: white;
    color: #dc3545;
    /* border: #28a745 solid 3px; */
}
/* game.html */
.game-setup{
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
    /* margin: 0; */
}

#game-board{
    background-color:midnightblue;
    border: purple solid 20px;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake{
    background-color: limegreen;
    border: black 1px solid;
}

.apple{
    background-color: crimson;
    border: black 1px solid;;
}

.speedUp{
    background-color: yellow;
    border: black 1px solid;
}

.growing{
    background-color: springgreen;
    border: black 1px solid;
}

.score-board{
    color: white;
    width: 400px;
    margin-left: 20px;
    background-color: black;
}
.instruction{
    display:flex;
    flex-direction: row;
}

.instruction p {
    margin-left: 5px;
    font-weight: bold;
}

#score{
    font-weight: bold;
    font-size: 36px;
}